@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
